html, body {
    height: 100%;
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #1e1e1e;
    font-family: 'JetBrains Mono', monospace;
}

* {
    margin: 0;
}

.main {
    width: 80%;
    height: 80%;
    color: #ebebeb;
    display: flex;
    flex-direction: row;
}

.display, .main > nav {
    height: 100%;
    color: #ebebeb;
    background-color: #1a1a1a;
    border: solid 1px #c8cacc;
    line-height: 1.4;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
}

.display {
    flex: 1;
}

.main > nav > p{
    margin: 5px 10px;
}

.display > p {
    padding-top: 0.5em;
}

#pageTitle textarea {
    width: 100%;
    max-width: 100%;
    height: 12em;
    min-height: 12em;
    box-sizing: border-box;
    background: transparent;
    color: inherit;
    border: none;
    outline: none;
    resize: none;
    padding: 10px;
    margin: 0;
    font-family: inherit;
    font-size: 1rem;
    line-height: 1.05;
    overflow-y: hidden;
}

.prompt {
    color: #00aaff;
    font-weight: bold;
}

.success {
    color: #00ff88;
}

.error {
    color: #ff4444;
}

.info {
    color: #ffaa00;
}

body > div:last-child {
    font-size: small;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    color: #ebebeb;
    padding-top: 10px;
}

.pageContent {
    padding: 10px;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    height: 100%;
}

#clockFace {
    height: 100%;
}

.pageContent > * {
    margin-bottom: 1em;
}

.pageContent table {
    border-collapse: collapse;
    width: 100%;
    border: #ebebeb 1px solid;
}

.pageContent td {
    border: #ebebeb 1px solid;
    padding: 10px;
}

.pageContent td > p {
    line-height: 1.4;
    margin: 5px 0;
}

a {
    color: #ebebeb;
}